<div id="head-klim">
  <img
    src="/photo/klima/klima mniejsze/29837604_2207_w018_n002_1057b_p15_1057.jpg"
    width="100%"
    height="200vh"
  />
  <h2 id="title-klim">Klimatyzacja</h2>
</div>
<div class="strona-klima" id="fota1">
  <img
    class="fota"
    src="/photo/klima/klima mniejsze/technician-is-checking-air-conditioner-measuring-equipment-filling-air-conditioners.jpg"
    margin-left="0"
  />
  <div class="tekst" id="first-letter">
    <h3>Zakres usług</h3>
    <p id="indent">
      Nasza firma oferuje pełen zakres usług w zakresie klimatyzacji, począwszy
      od doboru odpowiedniego urządzenia, poprzez montaż, aż po serwisowanie i
      naprawy. Działamy zarówno na rzecz klientów indywidualnych, jak i
      firmowych, dostosowując nasze usługi do specyficznych wymagań i potrzeb
      każdego klienta. W naszej ofercie znajdziesz szeroki wybór urządzeń
      klimatyzacyjnych, w tym systemów split, multisplit, VRF.
    </p>
    <img
      id="photozakres"
      src="/photo/klima/36814009_ss19des22_03.jpg"
      width="180em"
    />

    <p id="indent">
      Oferujemy też doradztwo w doborze odpowiedniego rozwiązania, uwzględniając
      m.in. powierzchnię pomieszczeń, zapotrzebowanie na chłodzenie lub
      ogrzewanie, a także kwestie estetyczne i funkcjonalne. Dzięki naszej
      wiedzy i doświadczeniu możemy zapewnić szybką i fachową realizację zleceń,
      a także konkurencyjne ceny.
    </p>
  </div>
  <div class="tekst" id="twice-letter">
    <div id="mont-klim-head">
      <h3>Montaż klimatyzacji</h3>
      <p>W zakres prac związanych z montażem klimatyzacji wchodzą m.in.:</p>
    </div>
    <ul id="margin-list">
      <li>Wykonanie otworu w ścianie zgodnie z wymaganiami technicznymi</li>
      <li>Instalacja jednostki wewnętrznej zgodnie z ustalonym miejscem</li>
      <li>
        Instalacja jednostki zewnętrznej w wyznaczonym miejscu, uwzględniając
        najlepsze rozwiązania estetyczne i funkcjonalne
      </li>
      <li>Montaż instalacji freonowej, zapewniającej sprawną pracę systemu</li>
      <li>
        Podłączenie klimatyzatora do istniejącej instalacji elektrycznej zgodnie
        z przepisami bezpieczeństwa
      </li>
      <li>
        Podłączenie skroplin grawitacyjnie, zapewniając bezpieczne odprowadzanie
        kondensatu
      </li>
      <li>
        Przeprowadzenie próby szczelności instalacji, aby upewnić się, że nie ma
        wycieków i system działa poprawnie
      </li>
      <li>
        Wykonanie próżni w układzie, co pozwala na usunięcie wilgoci i innych
        zanieczyszczeń z układu
      </li>
      <li>
        Uruchomienie i sprawdzenie działania klimatyzacji, aby upewnić się, że
        wszystko działa poprawnie i zgodnie z oczekiwaniami klienta
      </li>
      <li>
        Przeszkolenie użytkownika w zakresie obsługi systemu, aby umożliwić
        łatwe i bezpieczne korzystanie z klimatyzacji.
      </li>
    </ul>
  </div>
  <div id="fota2">
    <img
      class="fota2"
      id="fota2"
      src="/photo/klima/klima mniejsze/repairman-uniform-installing-outside-unit-air-conditioner.jpg"
    />
  </div>
  <div id="fota3">
    <img
      class="fota3"
      src="/photo/klima/klima mniejsze/businessman-reading-business-newspaper-while-sitting-desk-near-pretty-woman-holding-remote.jpg"
    />
  </div>
  <div class="tekst" id="third-letter">
    <div>
      <div id="serw-klim-head">
        <h3>Serwis klimatyzacji</h3>
        <p>Nasze usługi serwisowe obejmują:</p>
      </div>
      <ul id="margin-list">
        <li>
          Diagnozowanie usterek, aby jak najszybciej naprawić usterki i
          przywrócić sprawną pracę urządzeń
        </li>
        <li>
          Przeglądy serwisowe, które pozwalają na wczesne wykrywanie
          potencjalnych problemów i uniknięcie awarii
        </li>
        <li>
          Napełnianie klimatyzacji, aby zapewnić optymalną wydajność i osiągi
          systemu chłodzenia
        </li>
        <li>
          Naprawy klimatyzacji, w tym wymianę uszkodzonych elementów, aby system
          działał sprawnie i bezawaryjnie
        </li>
        <li>
          Czyszczenie klimatyzacji, co zapobiega rozwojowi bakterii i pleśni, a
          także poprawia jakość powietrza w pomieszczeniach
        </li>
        <li>Demontaż klimatyzatora</li>
        <li>
          Przeniesienie klimatyzacji w inne miejsce, aby dostosować system do
          zmieniających się potrzeb użytkowników.
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <link rel="stylesheet" href="component/klimatyzatory/klimatyzatory.css" /> -->
<link
  rel="stylesheet"
  type="text/css"
  href="component/klimatyzatory/klimatyzatory.css"
/>
