<img
  id="fota-header-went"
  src="/photo/wentylacja/329FCDB0.jpg"
  width="100%"
  height="250vh"
/>
<div>
  <h2 id="title-went">Wentylacja</h2>
  <img
    id="bcg-ph-went"
    src="/photo/klima/klima mniejsze/gray-concrete-wall.jpg"
  />
</div>

<div class="main-went">
  <object
    id="first-photo-went"
    data="/photo/wentylacja/close-up-ventilation-system (1).jpg"
    height="100%"
    width="100%"
  ></object>
  <div class="text-went" id="first-letter-went">
    <div>
      <h2>Wentylacja - świeże powietrze</h2>
      <p class="indent-went">
        Odpowiednia cyrkulacja powietrza to kluczowy element we wszystkich
        pomieszczeniach. Człowiek w ciągu godziny wdycha około 500 litrów
        powietrza, dlatego jakość powietrza jest niezwykle istotna. Świeże
        powietrze jest nieodzowne dla zdrowia, bezpieczeństwa, komfortu i
        efektywnej pracy urządzeń. Jakość powietrza, którym oddychamy, ma wpływ
        na sprawność naszego układu oddechowego oraz ogólną funkcję organizmu.
        Oferujemy Państwu rozwiązania technologiczne, których celem jest
        najwyższa jakość powietrza w przestrzeniach, w których przebywacie.
      </p>
      <h2>Wentylacja naturalna</h2>
      <p class="indent-went">
        Zasady działania wentylacji naturalnej są bardzo proste. Ciepłe
        powietrze w domu unosi się i opuszcza dom przez kominy wentylacyjne,
        wytwarzając podciśnienie w budynku. Podciśnienie powoduje zasysanie
        powietrza z zewnątrz przez otwory w ścianach budynku (nawiewniki,
        otwarte okna, drzwi, etc.). Im większa jest różnica temperatury
        wewnętrznej i zewnętrznej, tym większa ilość powietrza jest wymieniana.
        Nawet sprawnie działająca wentylacja naturalna ma pewne niepożądane
        efekty. Przepływ dostarczający odpowiednią ilość świeżego powietrza do
        wnętrza jednocześnie powoduje duże straty energii, ponieważ ogrzane
        powietrze ucieka przez komin. Przeciwdziałanie polegające na
        ograniczaniu przepływu powietrza źle wpływa na środowisko wewnętrzne,
        gdyż powietrze szybko staje się nieświeże. Inną wadą wentylacji
        naturalnej jest brak kontroli nad tym procesem.
      </p>
    </div>
  </div>
  <div id="twice-letter-went" class="text-went">
    <div>
      <h2>Wentylacja mechaniczna</h2>
      <p class="indent-went">
        Systemy wentylacyjne z mechanicznym odprowadzaniem powietrza działają w
        sposób następujący: powietrze jest usuwane z wnętrza domu za pomocą
        wentylatorów. Powietrze jest wywiewane z kuchni, toalet, łazienek i
        pomieszczeń gospodarczych, a wymiana powietrza odbywa się w sposób
        podobny do wentylacji naturalnej, poprzez nawiewniki, okna i szczeliny w
        budynku. Jedyna różnica polega na tym, że powietrze jest przede
        wszystkim jest pobierane przez specjalne otwory i kratki wentylacyjne, a
        nie przez szczeliny pod drzwiami i inne nieszczelności. Ważne jest, aby
        nie usuwać powietrza z pokojów sypialnianych i salonów, ponieważ
        przepływ powietrza odbywałby się w niewłaściwym kierunku, co mogłoby
        prowadzić do rozprzestrzeniania się zapachów kuchennych lub gromadzenia
        wilgoci wewnątrz domu. Systemy wentylacji z mechanicznym odprowadzaniem
        powietrza są popularne ze względu na niskie koszty i prostotę
        instalacji. W przeszłości tego typu systemy często miały takie same wady
        jak wentylacja naturalna, czyli niewentylowane powietrze z zewnątrz było
        zimne i nieoczyszczone. Obecnie nawiewniki dostarczające powietrze do
        ścian zewnętrznych mogą być wyposażone w filtry usuwające
        zanieczyszczenia. Dzięki odpowiedniemu projektowi i rozmieszczeniu
        urządzeń systemu wentylacyjnego można zapobiegać przeciągom i innym
        niepożądanym efektom.
      </p>
    </div>
  </div>
  <div id="twice-photo-went">
    <object
      data="/photo/wentylacja/close-up-ventilation-system (2).jpg"
      width="100%"
      height="120%"
    >
      >
    </object>
  </div>
  <div id="third-photo-went">
    <img
      src="/photo/wentylacja/ventilation-system-components-white-background-top-view.jpg"
      width="100%"
      height="100%"
    />
  </div>
  <div class="text-went" id="third-letter-went">
    <div>
      <h2>Wentylacja z odzyskiem ciepła</h2>
      <p class="indent-went">
        Rekuperator to jeden z elementów wentylacji mechanicznej domu, która
        jest procesem wymiany zużytego (domowego) powietrza na świeże
        dostarczane z zewnątrz. Wentylacja mechaniczna przede wszystkim zapewnia
        bezproblemowe stałe dostawy czystego i świeżego powietrza, zabierając
        jednocześnie z pomieszczeń domowych powietrze zużyte.Stosując nawiew
        świeżego, filtrowanego powietrza, minimalizujemy rozwój bakterii,
        grzybów i wirusów, które mogą znajdować się w niewentylowanych
        pomieszczeniach. Jest to idealne rozwiązanie dla osób z dolegliwościami
        alergicznymi.
      </p>
      <h2>Gdzie wdrażamy układy wentylacyjne?</h2>
      <p class="indent-went">
        Wdrażamy systemy wentylacyjne w biurach, sklepach, restauracjach,
        zakładach produkcyjnych i placówkach zdrowia na terenie Gdańska i
        okolic. Montujemy systemy wentylacji dopasowane do konkretnych
        pomieszczeń, dobierając odpowiednie urządzenia, tak aby działały
        sprawnie i optymalnie. Dzięki indywidualnemu podejściu do każdego
        klienta, zawsze dobieramy konkretne wentylatory do danego budynku i
        potrzeb jego użytkowników. Staramy się dopasować instalacje wentylacyjne
        tak, aby spełniały jak najlepiej swoje zadania w zależności od wymogów i
        potrzeb budynków, takich jak małe mieszkanie, dom, biuro czy placówka
        medyczna.
      </p>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/component/wentylacja/wentylacja.css" />
