<img
  id="headerimgpump"
  src="/photo/pompy/pompy mniejsze/model-house-scarf-radiator-indoors (1).jpg"
  width="100%"
  height="350vh"
/>
<div>
  <h2 id="title">Pompy Ciepła</h2>
  <img
    id="bcg-ph-pump"
    src="/photo/klima/klima mniejsze/gray-concrete-wall.jpg"
  />
</div>

<div class="main-pump">
  <object
    data="/photo/pompy/woman-reading-book-while-sitting-couch-home.svg"
    height="100%"
    width="100%"
    id="first-photo-pump"
  ></object>
  <div class="tekst-pompy" id="first-letter-pump">
    <h2>Obliczanie wydatku energetycznego budynku</h2>
    <p class="indent" id="tekst-pump-one">
      Przed przystąpieniem do instalacji pompy ciepła konieczne są dokładne
      obliczenia. Najważniejszym elementem w procesie montażu jest odpowiedni
      dobór mocy grzewczej pompy ciepła w zależności od zapotrzebowania na
      energię cieplną budynku. Do obliczenia OZC (obliczenia zapotrzebowania
      cieplnego) domu używamy specjalistycznego programu, który biorze pod uwagę
      wiele czynników, takich jak termoizolacyjność budynku, grubość i rodzaj
      ocieplenia oraz współczynnik lambda stolarki okiennej. Aby dokładnie
      obliczyć zapotrzebowanie na energię cieplną i odpowiednio dobrać moc pompy
      ciepła, inwestor powinien posiadać dokładne informacje dotyczące
      zastosowanych materiałów poprawiających efektywność energetyczną jego
      domu. Dzięki dokładnym obliczeniom możliwe jest zaproponowanie właściwej
      mocy pompy ciepła, co gwarantuje skuteczne i efektywne ogrzewanie budynku.
    </p>
    <h2>Dlaczego wybrać pompę ciepła?</h2>
    <p class="indent">
      Głównym celem stosowania pomp ciepła jest zapewnienie komfortu termicznego
      w pomieszczeniach, przy jednoczesnym obniżeniu kosztów eksploatacji w
      porównaniu do kotłów gazowych. Odbiornikami ciepła mogą być tradycyjne
      grzejniki lub system ogrzewania podłogowego. Dzięki wykorzystaniu pomp
      ciepła, wartość budynku rośnie, co może się przyczynić do zwiększenia jego
      wartości przy ewentualnej sprzedaży.
    </p>
  </div>
  <div class="tekst-pompy" id="twice-letter-pump">
    <h2>Zalety pomp ciepła</h2>
    <p class="indent">
      Pompy ciepła korzystają z energii odnawialnej, a obsługa przez użytkownika
      sprowadza się do zadania odpowiedniej temperatury. Instalacja pomp ciepła
      jest zatem inwestycją w przyszłość, gdyż pozwala na ogrzewanie budynków w
      sposób efektywny i przyjazny dla środowiska. Dzięki zaawansowanym
      technologiom i ciągłej pracy nad tymi urządzeniami, możliwe jest
      pozyskiwanie coraz większej ilości energii ze źródeł odnawialnych, co
      idzie w parze z redukcją emisji dwutlenku węgla. Ponadto, pompy ciepła są
      klasyfikowane jako urządzenia o wysokiej klasie energetycznej, co oznacza,
      że są efektywne zarówno w kwestii ogrzewania budynków, jak i podgrzewania
      wody. Inwestycja w pompę ciepła to zatem świetny wybór dla osób ceniących
      sobie jakość i efektywność inwestycji.
    </p>
  </div>
  <div id="fota-pompa" class="fota-pompa2 twice-photo-pump">
    <img
      src="/photo/pompy/pompy mniejsze/household-boiler-house-with-heat-pump-barrel-valves-sensors-automatic-control-unit (5).jpg"
      width="100%"
      height="auto"
      max-width="100%"
    />
  </div>
  <div id="fota-pompa" class="fota-pompa3 third-photo-pump">
    <img
      src="/photo/pompy/pompy mniejsze/close-up-heat-pump-outside-home (1).jpg"
      width="100%"
      height="100%"
    />
  </div>
  <div class="tekst-pompy" id="third-letter-pump">
    <h2>Żywotność pomp ciepła</h2>
    <p class="indent">
      Pomimo powszechnego przekonania, że pompy ciepła mają krótką żywotność
      wynoszącą około 10 lat, istnieje wiele czynników, które wpływają na tę
      wartość. Przede wszystkim, żywotność sprężarki jest kluczowa i zależy od
      liczby godzin pracy oraz liczby uruchomień. Można jednak zmniejszyć tę
      liczbę poprzez prawidłowe zwymiarowanie pompy ciepła, zastosowanie
      zasobnika magazynowego oraz odpowiednią regulację całego systemu. Również
      właściwy sposób sterowania ma pozytywny wpływ na żywotność pompy ciepła.
      Kolejnym ważnym elementem jest elektronika pomp ciepła. Ogólnie przyjmuje
      się, że im mniej elektroniki wykorzystuje pompa, tym mniejsze
      prawdopodobieństwo awarii. Na przykład, pompy ciepła typu start/stop
      zawierają około 6 razy mniej elektroniki niż pompy inwerterowe. Czujniki
      temperatury są również wrażliwe, szczególnie na wilgoć. Warto pamiętać, że
      cena jednego czujnika będzie różnić się w zależności od producenta.
    </p>
  </div>
</div>
<link rel="stylesheet" href="/component/pompy/pompy.css" />
